.block-editor-loader-feedback-icon {
    fill: currentColor;
    transform-origin: 50% 50%;
}

@keyframes block-editor-loader-feedback-icon-1 {
    9.0909090909% {
        transform: translate(-12px, 0);
    }

    18.1818181818% {
        transform: translate(0px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(12px, 0);
    }

    45.4545454545% {
        transform: translate(12px, 12px);
    }

    54.5454545455% {
        transform: translate(12px, 12px);
    }

    63.6363636364% {
        transform: translate(12px, 12px);
    }

    72.7272727273% {
        transform: translate(12px, 0px);
    }

    81.8181818182% {
        transform: translate(0px, 0px);
    }

    90.9090909091% {
        transform: translate(-12px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(1) {
    animation: block-editor-loader-feedback-icon-1 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-2 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(12px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(12px, 0);
    }

    45.4545454545% {
        transform: translate(12px, 12px);
    }

    54.5454545455% {
        transform: translate(12px, 12px);
    }

    63.6363636364% {
        transform: translate(12px, 12px);
    }

    72.7272727273% {
        transform: translate(12px, 12px);
    }

    81.8181818182% {
        transform: translate(0px, 12px);
    }

    90.9090909091% {
        transform: translate(0px, 12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(2) {
    animation: block-editor-loader-feedback-icon-2 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-3 {
    9.0909090909% {
        transform: translate(-12px, 0);
    }

    18.1818181818% {
        transform: translate(-12px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(-12px, 0);
    }

    45.4545454545% {
        transform: translate(-12px, 0);
    }

    54.5454545455% {
        transform: translate(-12px, 0);
    }

    63.6363636364% {
        transform: translate(-12px, 0);
    }

    72.7272727273% {
        transform: translate(-12px, 0);
    }

    81.8181818182% {
        transform: translate(-12px, -12px);
    }

    90.9090909091% {
        transform: translate(0px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(3) {
    animation: block-editor-loader-feedback-icon-3 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-4 {
    9.0909090909% {
        transform: translate(-12px, 0);
    }

    18.1818181818% {
        transform: translate(-12px, 0);
    }

    27.2727272727% {
        transform: translate(-12px, -12px);
    }

    36.3636363636% {
        transform: translate(0px, -12px);
    }

    45.4545454545% {
        transform: translate(0px, 0px);
    }

    54.5454545455% {
        transform: translate(0px, -12px);
    }

    63.6363636364% {
        transform: translate(0px, -12px);
    }

    72.7272727273% {
        transform: translate(0px, -12px);
    }

    81.8181818182% {
        transform: translate(-12px, -12px);
    }

    90.9090909091% {
        transform: translate(-12px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(4) {
    animation: block-editor-loader-feedback-icon-4 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-5 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(0, 0);
    }

    27.2727272727% {
        transform: translate(0, 0);
    }

    36.3636363636% {
        transform: translate(12px, 0);
    }

    45.4545454545% {
        transform: translate(12px, 0);
    }

    54.5454545455% {
        transform: translate(12px, 0);
    }

    63.6363636364% {
        transform: translate(12px, 0);
    }

    72.7272727273% {
        transform: translate(12px, 0);
    }

    81.8181818182% {
        transform: translate(12px, -12px);
    }

    90.9090909091% {
        transform: translate(0px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(5) {
    animation: block-editor-loader-feedback-icon-5 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-6 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(-12px, 0);
    }

    27.2727272727% {
        transform: translate(-12px, 0);
    }

    36.3636363636% {
        transform: translate(0px, 0);
    }

    45.4545454545% {
        transform: translate(0px, 0);
    }

    54.5454545455% {
        transform: translate(0px, 0);
    }

    63.6363636364% {
        transform: translate(0px, 0);
    }

    72.7272727273% {
        transform: translate(0px, 12px);
    }

    81.8181818182% {
        transform: translate(-12px, 12px);
    }

    90.9090909091% {
        transform: translate(-12px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(6) {
    animation: block-editor-loader-feedback-icon-6 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-7 {
    9.0909090909% {
        transform: translate(12px, 0);
    }

    18.1818181818% {
        transform: translate(12px, 0);
    }

    27.2727272727% {
        transform: translate(12px, 0);
    }

    36.3636363636% {
        transform: translate(0px, 0);
    }

    45.4545454545% {
        transform: translate(0px, -12px);
    }

    54.5454545455% {
        transform: translate(12px, -12px);
    }

    63.6363636364% {
        transform: translate(0px, -12px);
    }

    72.7272727273% {
        transform: translate(0px, -12px);
    }

    81.8181818182% {
        transform: translate(0px, 0px);
    }

    90.9090909091% {
        transform: translate(12px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(7) {
    animation: block-editor-loader-feedback-icon-7 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-8 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(-12px, 0);
    }

    27.2727272727% {
        transform: translate(-12px, -12px);
    }

    36.3636363636% {
        transform: translate(0px, -12px);
    }

    45.4545454545% {
        transform: translate(0px, -12px);
    }

    54.5454545455% {
        transform: translate(0px, -12px);
    }

    63.6363636364% {
        transform: translate(0px, -12px);
    }

    72.7272727273% {
        transform: translate(0px, -12px);
    }

    81.8181818182% {
        transform: translate(12px, -12px);
    }

    90.9090909091% {
        transform: translate(12px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.block-editor-loader-feedback-icon:nth-child(8) {
    animation: block-editor-loader-feedback-icon-8 6s infinite;
}

@keyframes block-editor-loader-feedback-icon-9 {
    9.0909090909% {
        transform: translate(-12px, 0);
    }

    18.1818181818% {
        transform: translate(-12px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(-12px, 0);
    }

    45.4545454545% {
        transform: translate(0px, 0);
    }

    54.5454545455% {
        transform: translate(0px, 0);
    }

    63.6363636364% {
        transform: translate(-12px, 0);
    }

    72.7272727273% {
        transform: translate(-12px, 0);
    }

    81.8181818182% {
        transform: translate(-24px, 0);
    }

    90.9090909091% {
        transform: translate(-12px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}

.block-editor-loader-feedback-icon:nth-child(9) {
    animation: block-editor-loader-feedback-icon-9 6s infinite;
}

