#suggerence-gutenberg-assistant\:suggerence-chat-sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100% !important;

    & > .components-panel {
        flex: 1;
        overflow: hidden;
        
        .components-panel {
            border: 1px solid #e0e0e0;
        }
    }

    svg.lucide-mic, svg.lucide-square, svg.lucide-pencil, svg.lucide-pen-tool, svg.lucide-eraser, svg.lucide-brush, svg.lucide-paintbrush, svg.lucide-highlighter, svg.lucide-arrow-right, svg.lucide-type {
        fill: none;
    }
    
    p {
        margin: 0 !important;
    }
    
}
.suggerence-gutenberg-assistant-modal svg, .suggerence-command-box svg {
    &.lucide-mic, &.lucide-square, &.lucide-pencil, &.lucide-pen-tool, &.lucide-eraser, &.lucide-brush, &.lucide-paintbrush, &.lucide-highlighter, &.lucide-arrow-right, &.lucide-type, &.lucide-pen, &.lucide-circle, &.lucide-minus {
        fill: none !important;
    }
}

/* Only when your plugin sidebar is inside the complementary area */
@media (min-width: 782px) {
    .interface-complementary-area__fill:has(#suggerence-gutenberg-assistant\:suggerence-chat-sidebar) {
        width: 500px !important; /* new width */
    }

    .interface-interface-skeleton__sidebar:has(#suggerence-gutenberg-assistant\:suggerence-chat-sidebar) {
        margin-bottom: -25px !important;
    }
}

#suggerence-gutenberg-assistant\:suggerence-chat-sidebar .interface-complementary-area-header {
    display: none !important;
}
