#suggerence-gutenberg-assistant\:suggerence-chat-sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .components-panel {
        flex: 1;
        overflow: hidden;
        
        .components-panel {
            border: 1px solid #e0e0e0;
        }
    }

}