#suggerence-gutenberg-assistant\:suggerence-chat-sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .components-panel {
        flex: 1;
        overflow: hidden;
        
        .components-panel {
            border: 1px solid #e0e0e0;
        }
    }

    svg.lucide-mic, svg.lucide-square, svg.lucide-pencil, svg.lucide-pen-tool, svg.lucide-eraser, svg.lucide-brush, svg.lucide-paintbrush, svg.lucide-highlighter, svg.lucide-arrow-right, svg.lucide-type {
        fill: none;
    }

    
}
.suggerence-gutenberg-assistant-modal svg, .suggerence-command-box svg {
    &.lucide-mic, &.lucide-square, &.lucide-pencil, &.lucide-pen-tool, &.lucide-eraser, &.lucide-brush, &.lucide-paintbrush, &.lucide-highlighter, &.lucide-arrow-right, &.lucide-type, &.lucide-pen, &.lucide-circle, &.lucide-minus {
        fill: none !important;
    }
}